# Análisis de Datos

#### Examen - IIC2026 2020-2
Francisco Guíñez Correa

In [1]:
import pandas as pd

In [68]:
dataset = pd.read_csv('../Visualización/Police_Use_of_Force.csv')
dataset.head()

,X,Y,PoliceUseOfForceID,CaseNumber,ResponseDate,Problem,Is911Call,PrimaryOffense,SubjectInjury,ForceReportNumber,...,TotalCityCallsForYear,TotalPrecinctCallsForYear,TotalNeighborhoodCallsForYear,CenterGBSID,CenterLatitude,CenterLongitude,CenterX,CenterY,DateAdded,OBJECTID
0,-93.291040,44.988830,17349589,08-002346,2008/01/03 03:20:24+00,Theft,Yes,BURGTL,No,4,...,322402,80434.0,1123,16516,44.988830,-93.291040,-1.038511e+07,5.619763e+06,2020/12/16 08:19:04+00,1
1,-93.278939,44.979240,17349590,08-007154,2008/01/07 22:07:54+00,Suspicious Person,No,LOITER,No,2,...,322402,46998.0,23458,25860,44.979240,-93.278939,-1.038376e+07,5.618254e+06,2020/12/16 08:19:04+00,2
2,-93.267657,44.968485,17349591,08-016997,2008/01/17 20:36:32+00,High Risk Warrant Entry,No,NARC,Yes,1,...,322402,46998.0,6134,18562,44.968485,-93.267657,-1.038251e+07,5.616562e+06,2020/12/16 08:19:04+00,3
3,-93.269013,44.982137,17349592,08-032796,2008/02/03 00:50:46+00,Suspicious Person,No,OBSTRU,No,1,...,322402,46998.0,23458,16243,44.982137,-93.269013,-1.038266e+07,5.618710e+06,2020/12/16 08:19:04+00,4
4,-93.280839,44.967060,17349593,08-034441,2008/02/04 21:54:18+00,Fight,Yes,DISCON,No,2,...,322402,46998.0,5414,17037,44.967060,-93.280839,-1.038398e+07,5.616337e+06,2020/12/16 08:19:04+00,5

In [41]:
dataset.columns

Index(['X', 'Y', 'PoliceUseOfForceID', 'CaseNumber', 'ResponseDate', 'Problem',
       'Is911Call', 'PrimaryOffense', 'SubjectInjury', 'ForceReportNumber',
       'SubjectRole', 'SubjectRoleNumber', 'ForceType', 'ForceTypeAction',
       'Race', 'Sex', 'EventAge', 'TypeOfResistance', 'Precinct',
       'Neighborhood', 'TotalCityCallsForYear', 'TotalPrecinctCallsForYear',
       'TotalNeighborhoodCallsForYear', 'CenterGBSID', 'CenterLatitude',
       'CenterLongitude', 'CenterX', 'CenterY', 'DateAdded', 'OBJECTID'],
      dtype='object')

## Estudio barrios

In [61]:
dataset['Neighborhood'].unique()

array(['Sumner-Glenwood', 'Downtown West', 'Elliot Park', 'Loring Park',
       'Holland', 'Jordan', 'Hawthorne', 'CARAG', 'Willard-Hay',
       'Lowry Hill East', 'Corcoran', 'Near-North', 'Longfellow',
       'Morris Park', 'St. Anthony East', 'Phillips West', 'Audubon Park',
       'Lowry Hill', 'East Phillips', 'Harrison', 'Marcy Holmes',
       'Waite Park', 'Ventura Village', 'St. Anthony West', 'Wenonah',
       'Windom Park', 'Bottineau', 'Central', 'Standish',
       'Northeast Park', 'Prospect Park-East River Road', 'Folwell',
       'Whittier', 'East Harriet', 'Bryant', 'Shingle Creek',
       'Downtown East', 'Lyndale', 'Cedar Riverside', 'Lind-Bohanon',
       'McKinley', 'East Isles', 'North Loop', 'Lynnhurst', 'Cleveland',
       "Steven's Square - Loring Heights", 'Nicollet Island - East Bank',
       'Logan Park', 'Midtown Phillips', 'Tangletown', 'Victory',
       'Sheridan', 'Como', 'Minnehaha', 'Seward', 'Webber-Camden',
       'Powderhorn Park', 'Bancroft', 'King Field', 'Hiawatha', 'Regina',
       'West Calhoun', 'Ericsson', 'Beltrami', 'Diamond Lake', 'Armatage',
       'Linden Hills', 'Field', 'Northrop', 'Hale', 'Page', 'ECCO',
       'Marshall Terrace', 'Mid-City Industrial', 'Bryn-Mawr', 'Howe',
       'Columbia Park', 'Camden Industrial', 'Cooper', 'Windom', 'Kenny',
       'University of Minnesota', 'Cedar-Isles-Dean', 'Fulton', 'Kenwood',
       'Keewaydin', 'Humboldt Industrial Area'], dtype=object)

In [62]:
len(dataset['Neighborhood'].unique())

87

In [73]:
neigborhoods = pd.read_csv('../Visualización/neigborhoods.tsv', sep='\t')
neigborhoods.head()

   ID          NAME                                                  D
0   1  Diamond Lake  M239.49,628.47c-3.47-.33-7,.14-10.49-.13-7.79-...
1   2       Wenonah  M312.78,607.87c-.44,6.8-.7,13.62-.87,20.44-.09...
2   3   Morris Park  M355,606.83c-.14,8.14-.19,16.28-.2,24.42,0,2.6...
3   4     Minnehaha  M382.27,599.24c-10.27,0-19.52,0-28.76,0-11,0-2...
4   5     Keewaydin  M311.21,587.14c2,2,1.5,4.3,1.5,6.56,0,5.23-3.1...

In [64]:
len(neigborhoods['NAME'])

87

In [74]:
n1 = set(dataset['Neighborhood'])
n2 = set(neigborhoods['NAME'])

In [75]:
n1 - n2

set()

In [76]:
n2 - n1

set()

## Posibles valores atributos

In [78]:
dataset.Is911Call.unique()

array(['Yes', 'No', nan], dtype=object)

In [79]:
dataset.SubjectInjury.unique()

array(['No', 'Yes', nan], dtype=object)

In [82]:
print(dataset.ForceType.unique())
print(len(dataset.ForceType.unique()))

['Bodily Force' 'Taser' 'Chemical Irritant' 'Improvised Weapon'
 'Police K9 Bite' 'Baton' 'Firearm' 'Less Lethal Projectile'
 'Gun Point Display' 'Maximal Restraint Technique' 'Less Lethal' nan]
12

In [84]:
print(dataset.Race.unique())
print(len(dataset.Race.unique()))

['Asian' 'Black' 'Native American' 'White' 'Other / Mixed Race' 'Unknown'
 'not recorded' 'Pacific Islander' nan]
9

In [85]:
dataset.Sex.unique()

array(['Male', 'Female', 'Unknown', 'not recorded', nan], dtype=object)

In [87]:
dataset.EventAge.mean()

28.500186030779638